.card {
    min-width: 800px;
    box-shadow: 0px 0px 6px 0px var(--border-color);
    border-radius: 4px;
    background-color: var(--white-color);

    font-family: 'Rubik', sans-serif;

    &__header {
        border-bottom: 1px solid var(--border-color);
        height: 70px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-title {
        color: var(--gray-text-color);
    }

    &__content-wrapper {
        min-height: 518px;

        &_alignment {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__pagination {
        margin: auto;
    }

    &__loader {
        width: fit-content;
        line-height: 28px;
        padding: 0 6px;
        border-bottom: 1px solid var(--border-color);
    }

    &__error {
        width: fit-content;
        height: 40px;
        line-height: 40px;
        padding: 0 6px;
    }
}


.filter-panel {
    padding: 0 20px;
    line-height: 70px;

    &__btn {
        display: inline-block;

        padding: 6px 10px;
        border-radius: 4px;
        border: 1px solid var(--border-color);
        box-shadow: 0px 0px 6px 0px var(--border-color);
        background: var(--white-color);

        &:hover {
            background: var(--gray-text-color);
            color: var(--white-color);
        }
    }
}


